body {
    font-family: Georgia;
}

h1,h2 {
    text-align: center;
    color: #034f84;
}

table {
    width: 100%;
    border: 1px solid #034f84;
}

thead {
    font-weight: bold;
    background-color: #92a8d1;
    text-align: center;
}

tr,
td {
    border: 1px solid #034f84;
}

tbody {
    background-color: #f7786b;
    color: #034f84;
}

.selector {
    background-color: #f7cac9;
    font-family: 'Courier New', Courier, monospace;
}